@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #faf6f1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}


.swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.4 !important;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background: #ffffff !important;
  opacity: 1 !important;
}

/* Dynamic bullets (the small “...” style dots) */
.swiper-pagination-bullet-active-main,
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-next {
  background: #ffffff !important;
}